@import "tailwindcss";

@theme {
  --font-sans: "Nunito", sans-serif;
  --font-title: "Cinzel", serif;

  --color-purple-logo: #874997;
  --color-blue-logo: #27405c;
  --color-green-logo: #649471;
  --color-bege-logo: #ecd8a7;
  --color-brown-logo: #2b1603;
  --color-red-logo: #ef6461;
  --color-secondary-blue: #7bb2d9;
  --color-secondary-purple: #987284;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

:root {
  --background: #ecd8a7;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #f0dde6;
  }
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
  }

  h1,
  h2,
  .title {
    font-family: var(--font-title);
  }
}
